body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Hello-Honey';
  font-style: normal;
  font-weight: normal;
  src: local('Hello-Honey'), url(./assets/fonts/hello_honey.otf) format('opentype');
}

.logo-font {
  font-family: "Hello-Honey";
}

/* .branded-background {
  background: url(./assets/images/greenhouse.png);
  background-size: 500px 500px;
} */

body {
  background: url(./assets/images/background_leaf.JPG);
  background-size: 478px 850px;
  /* background-size: 500px 500px; */
}